{% extends "base.html" %}

{% block content %}
<h1>Pokemon Exchange mercato</h1>
<h2>Offer List</h2>
<ul>
    {% for offer in offer_list %}
    <li>{{offer}}: {{offer.lon}} {{offer.lat}}</li>
    {% endfor %}
</ul>

<div id='map' style='width: 1200px; height: 800px;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoicGxlbWFpcmUiLCJhIjoiY2w0Y3VnMjY2MDI1YzNjbm91aTQ4M3lycSJ9.DUVehkW26kk5yKYhShO5kg';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [4.835659, 45.764043],
        zoom: 12
    });
    // marker for each offer in the queryset
    {% for offer in offer_list %}
    const marker_{{forloop.counter}} = new mapboxgl.Marker()
        .setLngLat([{{offer.lon|stringformat:".2f"}}, {{offer.lat|stringformat:".2f"}} ])
        .addTo(map);
    {% endfor %}
</script>


{% endblock %}